.header {
  margin: 1px 75px;
  background-color: #FF6600;
}
.title{
  font-weight: bold;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  float: left;
  margin-left: 5px;
  display: inline;

}
ul li.login{
  float: right;
  margin-right: 5px;
}
